
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'user_info' %>
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
  <h3>フォロー</h3>
  <%# @users.following.each do |user| %>
<!--     <li class="list-group-item"></li> -->
  <%# end %>
  </div>
</div>
