
<div class="row">
<div class="col-md-8 col-md-offset-2">
<h3>ユーザー一覧</h3>

<ul class="list-group">
<% @users.each do |user| %>
  <li class="list-group-item">
    <%= link_to gravatar_for(user, size: 70), user %>
    <h4><%= link_to user.name, user %></h4>
    <p><%= user.profile %></p>
  </li>
<% end %>
</ul>
</div>
</div>
